/* CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('/assets/images/123.webp');  
   
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px 20px;
  border-bottom: 3px solid #000;
}

section:nth-child(even) {
  background-color: #f4f4f4;
}

#services {
  color: #000; 
}

#contact {
  background-color: #003300;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
